/* stylelint-disable selector-list-comma-newline-after */

:root {
  --theme-color: #80298f;
  --secondary-color: #6b7a83;
  --dark-color: #222;
  --white-color: #fff;
  --bg-color: #f3f1f2;
  --light-blue: #eff6fd;
  --optionalColor: #333146;
  --whiteColor: #ffffff;
  --blackColor: #262e2e;
  --postcolor: #6a7a83;
  --fontSize: 16px;
  --transition: 0.5s;
}

html {
  overflow-x: hidden;
}

body {
  font-size: 15px;
  line-height: 1.8;
  color: #4d4d4d;
  /* font-family: "Poppins", Arial, Helvetica, sans-serif; */
  font-weight: 400;
}

a {
  color: var(--theme-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Playfair Display", Georgia, "Times New Roman", serif; */
  margin-bottom: 0;
}

label {
  font-size: 13px;
  color: #000;
  padding-top: 10px;
}

input {
  border-radius: 0;
  font-size: 13px;
  border-radius: 0;
}

.form-control,
.form-select {
  border-radius: 0;
}

label {
  font-weight: 600;
}

.pt-50 {
  padding-top: 50px;
}

.btn-get-started {
  font-family: Jost, sans-serif;
  font-weight: 6;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 5px 17px 5px;
  transition: all 0.5s ease 0s;
  margin: 10px 0px 0px;
  color: rgb(255, 255, 255);
  background: var(--theme-color);
}

.slidebtn .btn-get-started {
  padding: 5px 12px 5px;
}

.text-theme {
  color: var(--theme-color) !important;
  border-color: var(--theme-color) !important;
}

.btn-get-started:hover {
  background: var(--theme-color) !important;
  color: #000 !important;
}

.text-theme:hover {
  border-color: var(--theme-color) !important;
  /* color: #fff !important; */
}
/* Topbar */

.top-bar {
  background: var(--theme-color);
  color: #fff;
  display: none;
}
/* New navbar section */

#header {
  transition: all 0.5s ease 0s;
  z-index: 997;
  /* padding: 15px 0px; */
  background: var(--theme-color);
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(40, 58, 90, 0.9);
}

#header .logo {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: rgb(255, 255, 255);
}

#header .logo img {
   
    height: 85px;
    width: auto;
    margin: 10px 0;
}



.navbar {
  padding: 0px;
}

.navbar ul {
  margin: 0px;
  padding: 15px 0px;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px 10px 20px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  transition: all 0.3s ease 0s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #fff;
  font-weight: 600;
}

.navbar .getstarted {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  border: 2px solid #fff;
  font-weight: 600;
}

.navbar .getstarted:hover {
  color: rgb(255, 255, 255);
  background: rgb(49, 169, 225);
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0px;
  padding: 10px 0px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: rgb(255, 255, 255);
  box-shadow: rgba(127, 137, 161, 0.25) 0px 0px 30px;
  transition: all 0.3s ease 0s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
  color: rgb(12, 60, 83);
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: var(--theme-color);
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0px;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0px;
  left: 100%;
  visibility: visible;
}
/* 
.navbar li::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: var(--theme-color);
    transition: 0.2s;
    margin: auto;
}

.navbar li:hover::after {
    width: 38%;
    margin: 0 0px 0px 30px;
} */

.nav-link {
  padding: 15px 5px;
  transition: 0.2s;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #212529;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background: var(--theme-color);
}

.navbar .active::after {
  width: 38%;
  margin: 0 0px 0px 30px;
}

.navbar .dropdown ul li::after {
  display: none;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -121%;
    width: 120%;
  }
}

.mobile-nav-toggle {
  color: rgb(255, 255, 255);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: all 0.5s ease 0s;
}

.mobile-nav-toggle.bi-x {
  color: rgb(255, 255, 255);
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  inset: 0px;
  background: rgba(40, 58, 90, 0.9);
  transition: all 0.3s ease 0s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  inset: 55px 15px 15px;
  padding: 10px 0px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
  transition: all 0.3s ease 0s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: var(--theme-color);
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: var(--theme-color);
}

.navbar-mobile .getstarted {
  margin: 15px;
  color: var(--theme-color);
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0px;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: rgb(255, 255, 255);
  box-shadow: rgba(127, 137, 161, 0.25) 0px 0px 30px;
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: var(--theme-color);
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

.fa-times {
  color: #fff !important;
}
/* Navbar section starts here */

@media all and (min-width: 992px) {
  .navbar .dropdown-menu-end {
    right: 0;
    left: auto;
  }
  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin-top: 0;
  }
  .navbar .nav-item:hover .nav-link {
    color: #fff;
  }
  .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }
  .navbar .dropdown-menu.fade-up {
    top: 180%;
  }
  .navbar .nav-item:hover .dropdown-menu {
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
  }
}

.mainnav .navbar a:hover,
.navbar .active:focus,
.navbar li:hover > a {
  color: var(--theme-color);
  text-shadow: 1px 0px 0px #812990;
  transition: 0.3s;
}

.mainnav .navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 400;
  color: #000;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
}

.mainnav li.nav-item {
  padding-left: 30px;
}
/* navbar section ends here */
/* revolution slider */

/* -------------------------home slider section-------------------------  */
.home_slider {
  width: 100%;
}
.home_slider img {
  width: 100%;
  object-fit: cover;
}

@keyframes slide_zoom {
  from {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    z-index: 0;
  }
}

/* Styles go here */

.home_slick_slider {
  width: 100%;

  overflow: hidden;
}

.home_slick_slider .slides {
  height: 100%;
}

.home_slick_slider .slides li {
  height: 100%;
  position: relative;
}

.home_slick_slider .slides li h1 {
  position: absolute;
  z-index: 9;
  top: 30px;
  left: 25%;
  width: 50%;
  text-align: center;
  text-shadow: 1px 1px 1px #fff;
}

.home_slick_slider .slides li .bgimg {
  background-position: center;
  height: 100%;
  width: 100%;
  transition: transform 4s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
}

.home_slick_slider .slides li.flex-active-slide .bgimg {
  transform: scale3d(1.2, 1.2, 1.2);
  transition: 25s;
}
.home_slick_slider .owl-dots {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 12px;
}

.divider_slider {
  position: relative;
  width: 120%;
  height: 2px;
  background-color: #802a8f;
  margin-bottom: 20px;
  margin-top: 20px;
}
.divider_slider::before {
  content: " ";
  right: 0;
  top: -3px;
  width: 7px;
  height: 7px;
  background-color: #802a8f;
  display: block;
  position: absolute;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .text_caption h1,
  .text_caption h2 {
    font-size: 20px;
  }
  .divider_slider {
    margin-top: 5px;
    width: 90%;
    margin-bottom: 5px;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(1);
    -ms-transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    transform: scale(1.1);
    -ms-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
    -ms-transformm: scale(1);
  }
}
@-o-keyframes zoomIn {
  0% {
    opacity: 0;
    -o-transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    -o-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -o-transformm: scale(1);
  }
}
@-moz-keyframes zoomIn {
  0% {
    opacity: 0;
    -moz-transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    -moz-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -moz-transformm: scale(1);
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    -webkit-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transformm: scale(1);
  }
}

.zoomIn {
  animation-name: zoomIn;
  -webkit-animation-name: zoomIn;
  -moz-animation-name: zoomIn;
  -o-animation-name: zoomIn;
  -animation-direction: linear;
  -webkit-animation-direction: linear;
  -moz-animation-direction: linear;
  -o-animation-direction: linear;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 24s;
}

.homesearch .form-control {
  font-size: 20px;
  font-weight: 300;
  border-radius: 0;
  padding: 5px 10px 12px;
  text-transform: capitalize;
}

/* abput us */
.summary_of_consultancy {
  padding-bottom: 45px;
  padding-top: 87px;
}

.brief_summary {
  max-width: 600px;
  margin: 0 auto;
}
.know_more_home {
  background-color: #80298f;
  color: #ffc20e;
  width: 253px;
  line-height: 40px;
  font-weight: 600;
  margin: 52px 0 125px 0;
  border-radius: 0;
  transition: 0.5s;
}
.know_more_home:hover {
  background-color: #ffc20e;
  color: white;
  /*animation-name: fadeIn;*/
  animation-duration: 0.5s;
  border-radius: 10px;
}

.summary_of_consultancy {
  padding-bottom: 45px;
  padding-top: 87px;
}
.home_icon {
  color: white;
  font-size: 100px;
  text-align: center;
}
.home_over_lay_1 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #80298f;

  display: none;
  transition: 0.3s;
}
.plus_button {
  font-weight: 300 !important;
  font-size: 30px;
  color: #fff;
  text-align: center;
}
.home_over_lay_1 h2 {
  color: #ffc20e !important;
}
.home_icon_1 {
  background-color: #ffc20d;
  overflow: hidden;
}
.home_icon_1:hover .home_over_lay_1,
.home_icon_2:hover .home_over_lay_1,
.home_icon_3:hover .home_over_lay_1 {
  display: block;
  transition: 0.4s;
}
.home_icon_1:hover .plus_button {
  color: #ffc20e;
}

.home_icon_1 h2 {
  color: #80298f;
}
.home_icon_2 h2,
.home_icon_3 h2 {
  color: white;
}
.home_icon_2 {
  background-color: #00b8cd;
  overflow: hidden;
}
.home_icon_3 {
  background-color: #005bac;
  overflow: hidden;
}
.p_tb40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.common_color {
  color: #80298f;
}
.common_background {
  background-color: #80298f;
}
.common_hover {
  background-color: #ffc20e;
}
.soft_black {
  color: #03182d;
}
.base_border {
  width: 100%;
  border-bottom: 1px solid white;
}
.style_bar {
  max-width: 890px;
  height: 1px;
  background-color: #6b7a83;
  margin: 30px auto;
  text-align: center;
  position: relative;
}
.style_bar::before {
  position: absolute;
  content: " ";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #6b7a83;
  left: 0;
  top: -2px;
}
.style_bar::after {
  position: absolute;
  content: " ";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #6b7a83;
  right: 0;
  top: -2px;
}
.icon_control {
  margin: 10px auto !important;
}
.plus_icon {
  position: relative;
  text-align: center;
  height: 30px;
  width: 30px;
}
.plus_icon::before {
  content: " ";
  width: 3px;
  height: 30px;
  left: 14px;
  /* background-color: white; */
  position: absolute;
}
.plus_icon::after {
  content: " ";
  width: 30px;
  height: 3px;
  left: 0;
  top: 14px;
  /* background-color: white; */
  position: absolute;
}
.plus_white::before,
.plus_white::after {
  background-color: white;
}
.hover_color_plus::after,
.hover_color_plus::before {
  background-color: #ffc20e;
}
.read_plus_icon {
  border-radius: 50%;
  border: 2px solid #6b7a83;
  width: 30px;
  height: 30px;
  position: relative;
  text-align: center;
  padding: 3px;
}
.read_plus_icon::before {
  content: " ";
  width: 2px;
  height: 20px;
  left: 12px;
  position: absolute;
}
.read_plus_icon::after {
  content: " ";
  width: 20px;
  height: 2px;
  left: 3px;
  top: 12px;
  position: absolute;
}
.read_more_plus::after,
.read_more_plus::before {
  background-color: #6b7a83;
}
.hover_Plus {
  padding-left: 40px;
}

.three_plus {
  position: relative;
  width: 26px;
  height: 26px;
  position: relative;
  text-align: center;
}
.three_plus::before {
  content: " ";
  width: 3px;
  height: 26px;
  left: 13px;
  background-color: #ffc20d;
  position: absolute;
}
.three_plus::after {
  content: " ";
  width: 26px;
  height: 3px;
  left: 1px;
  top: 12px;
  background-color: #ffc20d;
  position: absolute;
}
.hover_open_more {
  position: relative;
  top: 40%;
}
.hover_open_more ul {
  margin-bottom: 0;
}
.hover_open_more ul li {
  display: inline-block;
  vertical-align: middle;
}
.about_para p {
  font-weight: 400;
}

.knowmore {
  background-color: #80298f;
  color: #ffc20e;
  width: 253px;
  line-height: 40px;
  font-weight: 600;
  margin: 52px 0 125px 0 !important;
  border-radius: 0;
  transition: 0.5s;
  font-size: 22px !important;
}

.p-60 {
  padding-left: 60px;
  padding-right: 60px;
}

.search_btn {
  background: #ffc20e;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
}

.search_btn:hover {
  background: var(--secondary-color);
}
.home_title {
  color: #80298f;
}
.font_weight300 {
  font-weight: 300 !important;
}
.font_17 {
  font-size: 17px;
  line-height: 25px;
}
.font_22 {
  font-size: 22px;
}
.font_weight600 {
  font-weight: 600;
}
.font_28 {
  font-size: 28px;
}
.black {
  color: black;
}
.p_t25 {
  padding-top: 25px;
}
.p_t20 {
  padding-top: 20px;
}
.p_t30 {
  padding-top: 30px;
}
.partners_section {
  max-width: 890px;
}
/* institution we represent */

.college_slider .owl-nav {
  position: absolute;
  top: 24%;
  font-size: 60px;
  color: #484880;
  width: 100%;
  /*padding: 0  20px;*/
}
.college_slider .owl-nav button {
  transition: 0.5s;
}
.college_slider .owl-next {
  position: absolute;
  right: -40px;
}
.college_slider .owl-prev {
  position: absolute;
  left: -40px;
}
.college_slider .owl-nav button:hover {
  /*background-color: #812990;*/
  padding: 0 20px !important;
  transition: 0.5s;
  /*color: white;*/
}
.college_slider h4 {
  font-size: 15px;
  color: gray;
  text-transform: uppercase;
}
.m_b40 {
  margin-bottom: 40px;
}
.institute_logo img {
  /* height: 60px; */
  text-align: left;
  vertical-align: middle;
}
.background_overlay {
  padding-top: 80px;
  padding-bottom: 80px;
  background: linear-gradient(
    to bottom right,
    rgba(77, 37, 139, 0.6),
    rgba(118, 17, 17, 0.6)
  );
  transition: 0.3s;
}
.background_overlay h1,
.background_overlay h2 {
  color: #ffc20e;
  transition: 0.5s;
}
.font_weight700 {
  font-weight: 700;
}

.font_34 {
  font-size: 34px;
}
.register_now:hover .background_overlay h1,
.register_now:hover .background_overlay h2 {
  color: white;
  transition: 0.5s;
}

/* dream destination */
.destinaton_hover {
  position: relative;
  overflow: hidden;
}
.destinaton_hover::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  padding-left: 40%;
  padding-top: 30%;
  display: none;
  animation-name: fadeInDown;
  animation-duration: 1s;
  font-weight: 600;
  color: #ffc20e;
  font-size: 28px;
  z-index: 99;
}
.destinaton_hover:hover::before {
  display: block;
}

.more_option:hover .read_plus_icon {
  border-color: #80298f;
  transition: 0.5s;
}
.more_option:hover .read_more_plus::before,
.more_option:hover .read_more_plus::after {
  background-color: #80298f;
  transition: 0.5s;
}

.destinaton_hover:hover::before {
  display: block;
}
.background_overlay h1,
.background_overlay h2 {
  color: #ffc20e;
  transition: 0.5s;
}
.background_overlay:hover {
  background-color: #ffc20e80;
  transition: 0.3s;
}
.more_blog {
  display: none;
  /*position: absolute;*/
  /*left:40px;*/
  /*bottom: 5px;*/
  transition: 0.5s;
  margin-left: 5px;
}
.more_option:hover .more_blog {
  display: block;
  transition: 0.3s;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.blog_cover {
  position: relative;
}
.access_more {
  display: none;
  position: absolute;
  left: 30px;
  bottom: 0px;
  transition: 0.5s;
}
.read_more {
  position: absolute;
  left: 51%;
  top: 45%;
  transition: 0.5s;
  opacity: 0;
}
.destinaton_hover img {
  width: 100%;
  object-fit: cover;
}
.read_more_verticle {
  left: 53%;
}
.blog_cover:hover .access_more {
  display: none;
  transition: 0.3s;
  animation-name: fadeIn;
  animation-duration: 1s;
}
.more_option {
  position: relative;
  display: flex;
  align-items: center;
}
.p_t60 {
  padding-top: 60px;
}
/* latest news */
.equal_height {
  display: flex;
  flex-wrap: wrap;
}
.height_manage {
  height: 100% !important;
}

.hover_color {
  color: #ffc20e;
}

.link {
  text-decoration: none;
  transition: 0.3s;
}
.link:hover {
  color: #ffd400;
  /*font-size: 16px;*/
  font-weight: 600;
  transition: 0.3s;
}
.link_white {
  color: #ddd;
  line-height: 27px;
  display: block;
}
.p_r20 {
  padding-right: 20px;
}

.p_l35 {
  padding-left: 35px;
}
.m_t25 {
  margin-top: 25px;
}
.article_background {
  background-color: #dae5ea;
}

.p_a35 {
  padding: 35px;
}
.m_b35 {
  margin-bottom: 35px;
  /* position: relative; */
}
.height_manage {
  height: 100% !important;
  /* overflow: hidden; */
}
.hover_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  /* overflow: hidden; */
  left: 0;
  margin: auto;
  text-align: center;
  display: none;
  background-color: rgba(0, 0, 0, 0.75);
  /* overflow: hidden; */
}
.button_boxex {
  display: none;
  position: relative;
  top: 45%;
}
.button_boxex ul {
  margin-bottom: 0;
}
.button_boxex ul li {
  color: red;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}

.button_boxex ul li {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}
.red_button {
  border-radius: 50%;
  border: 2px solid red;
  width: 30px;
  height: 30px;
  position: relative;
  text-align: center;
  padding: 3px;
}
.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}
.hover_Pointer {
  cursor: pointer;
}

.read_plus_icon {
  border-radius: 50%;
  border: 2px solid #6b7a83;
  width: 30px;
  height: 30px;
  position: relative;
  text-align: center;
  padding: 3px;
}
.p_l35 {
  padding-left: 35px;
  /* position: relative; */
}

.media-body {
  -ms-flex: 1;
  flex: 1;
}
.divide_bar {
  width: 100px;
  background-color: #f9a106;
  height: 2px;
}
.m_tb35 {
  margin-top: 35px;
  margin-bottom: 35px;
}
.p_b20 {
  padding-bottom: 20px;
}

.p_t40 {
  padding-top: 40px;
}
.p_lr60 {
  padding-left: 60px;
  padding-right: 60px;
}
.common_background:hover .button_boxex,
.article_background:hover .button_boxex {
  display: block;
}
.article_background:hover .hover_cover,
.common_background:hover .hover_cover {
  display: block;
  animation-name: fadeIn;
  animation-duration: 1s;
}
.p_l35 {
  padding-left: 35px;
}

.m_t25 {
  margin-top: 25px;
}
.p_r20 {
  padding-right: 20px;
}
.m_t35 {
  margin-top: 35px;
}
.font_44 {
  font-size: 44px;
}
.b1 {
  position: relative;
}
.p_t50 {
  padding-top: 50px;
}

.m_b25 {
  margin-bottom: 25px;
}
.red_button::before {
  content: " ";
  width: 2px;
  height: 20px;
  left: 12px;
  background-color: red;
  position: absolute;
}

.red_button::after {
  content: " ";
  width: 20px;
  height: 2px;
  left: 3px;
  top: 12px;
  background-color: red;
  position: absolute;
}
.letter_sp6 {
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: 500;
}
.m_tb75 {
  margin-top: 75px;
  margin-bottom: 75px;
}

/* testimonial */
.professional_section {
  max-width: 1070px;
}

.testimonial_bar {
  width: 100px;
  height: 2px;
  background-color: #ffc20e;
}

.m_lr_auto {
  margin-left: auto;
  margin-right: auto;
}
.m_tb10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.m_b0 {
  margin-bottom: 0;
}
.kangaroo_color {
  color: #6b7a83;
}
.views_more {
  border: 1px solid #6b5757;
  border-radius: 10px;
}
.p_tb10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p_lr50 {
  padding-left: 50px;
  padding-right: 50px;
}
.kangaroo_color:hover {
  color: white;
  background-color: #80298f;
  animation-name: fadeIn;
  transition: 0.3s;
}
.p_b25 {
  padding-bottom: 25px;
}
.student_iamge img {
  width: 255px !important;
  height: 255px;
  border-radius: 50%;
  border: 1px solid #978e8e;
  padding: 7px;
	    margin: auto;
  object-fit: cover;
}

/* Section title starts */

.inner_section_title.t_left {
  margin: auto auto auto 0;
  width: 100%;
  text-align: left;
  position: relative;
  margin-bottom: 15px;
}

.sec_line-main {
  /* margin: 8px 0 30px !important; */
}

.inner_section_title.t_left .sec_line {
  margin: 0 0 5px;
}

.sec_line.sec_line-big {
  margin: 20px auto;
  position: relative;
}

.inner_section_title.t_left .sec_line {
  margin: 0 0 5px;
}

.sec_line.sec_line-big {
  margin: 20px auto;
  position: relative;
}

.sec_line.sec_line-big::before {
  display: block;
  content: "";
  position: absolute;
  width: 52px;
  height: 4px;
  left: 0;
  border: 4px solid transparent;
  border-bottom: 0;
  border-top-color: var(--theme-color);
  top: auto;
}

.inner_section_title.t_left h3 {
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  color: var(--theme-color);
}

.inner_section_title h4 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 25px;
  color: #b2b8bf;
}

.btn-watch-video i {
  color: #fff !important;
  /* line-height: 0; */
  color: #fff;
  font-size: 95px;
  transition: 0.3s;
}
/* ends */

a.toTopBtn i {
  font-size: 27px;
  color: #fff;
  line-height: 38px;
}

.toTopBtn {
  position: fixed;
  bottom: 26px;
  right: 39px;
  z-index: 98;
  background-color: var(--theme-color);
  border-radius: 100%;
  height: 40px;
  width: 40px;
  margin: auto;
  text-align: center;
}
/* about us */

.pb-50 {
  padding-bottom: 50px;
}

.bg-theme {
  background: var(--theme-color) !important;
}

.bg-theme:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 253px;
  height: 216px;
  background: url(../img/bg-pattarn-right.png) no-repeat 0 0;
}

.bg-theme:after {
  content: "";
  position: absolute;
  top: 0;
  left: -70px;
  width: 397px;
  height: 295px;
  background: url(../img/bg-pattarn-left.png) no-repeat 0 0;
}
/* destination */

.mt-10 {
  margin-top: 21px;
}

.service_card .card img {
  border-radius: 21px;
  padding: 10px;
  height: 20em;
  object-fit: cover;
}

.bg_cover {
  padding-bottom: 250px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.mt-200 {
  margin-top: -200px !important;
}

.bg_country {
  background: #f5f8fb;
}

.mybtn:hover {
  background: #80298f;
}

.mybtn {
  background: #6b7b84;
}

.whyus {
  background-color: #2d3845 !important;
}

/* book */

.req_img {
  background: url(../img/s1.png);
  background-position: bottom;
  color: #fff;
}

.req_img1 {
  background: url(../img/req2.png);
  background-position: center;
  color: #fff;
}

.booknow {
  background: #f36e21;
  font-weight: 600;
}

.background_overlay {
    background: linear-gradient( to bottom right, rgb(129 41 144 / 88%), rgb(107 123 132 / 89%) );
    transition: 0.3s;
}

/* blog */
/* myblogs */

.blogs .btn {
  font-size: 14px;
  font-weight: 600;
  padding: 9px 12px;
  line-height: 1;
  border-radius: 0;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.blogs p {
    color: #000;
    font-size: 17px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.blogs .card {
  margin-bottom: 15px;
}

.blogs img {
  height: 16em;
  object-fit: cover;
}

.p_cert img {
  height: 3em;
}

.certification h3 {
  font-size: 35px !important;
}
/* inner testimonial */

.student_photo img {
  height: 380px;
  width: 380px;
  border-radius: 50%;
  border: 1px solid black;
  padding: 10px;
  background-color: white;
  object-fit: cover;
}
@media (min-width: 1100px) {
  .student_photo {
    position: relative;
    overflow: hidden;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    cursor: pointer;
  }
  .imageko_cover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    padding-left: 18%;
    padding-top: 41%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .imageko_cover .student_info p {
    color: white;
  }
  .student_photo:hover .imageko_cover {
    display: block;
    animation-name: fadeIn;
    animation-duration: 1s;
  }
}
.student_info p {
  margin: 0;
  font-size: 17px;
  color: black;
  font-weight: 300;
}

.student_info p:nth-child(1) {
  font-size: 20px;
  font-weight: 500;
}
.main_view p:nth-child(1) {
  font-size: 22px;
  font-weight: 600;
  color: black;
  font-style: italic;
  position: relative;
  padding-bottom: 20px;
}
.main_view p {
  font-size: 17px;
  font-weight: 200;
  color: black;
}
.main_view p .fa {
  color: #ffc20e;
  color: #812990;
  font-style: italic;
}
.main_view p:nth-child(1):after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 120px;
  height: 3px;
  background-color: #ffc20e;
  display: block;
  margin-top: 20px;
}
.m_b100 {
  margin-bottom: 100px;
}
/* institute inner */
.all_time_color {
  color: #80298f;
}
.m_b30 {
  margin-bottom: 30px;
}
.p_t70 {
  padding-top: 70px;
}
.logo_border {
  border: 1px solid rgba(0, 0, 0, 0.5);
  position: relative;
}
.logo_border:hover:before {
  display: block;
}

.logo_border::before {
  position: absolute;
  content: "+ MORE";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  padding-left: 30%;
  padding-top: 27%;
  display: none;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  font-weight: 600;
  color: #ffc20e;
  font-size: 28px;
}
/* footer */
/*-------------------------
    Footer Area
-------------------------*/

.footer-area .footer-title {
  font-size: 40px;
  line-height: 1.25;
  font-weight: 700;
  color: #fff;
}

.footer-area .footer-title::after {
  content: "";
  position: absolute;
  left: 18px;
  top: 22px;
  width: 100%;
  height: 50%;
  border-right: 1px dashed #fff;
}

.footer-top-area {
  position: relative;
  z-index: 0;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  padding-top: 17px;
  padding-bottom: 4px;
  background-color: #812990 !important;
}

.footer-top-area::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*background: rgba(46, 46, 46, 0.7);*/
}

.footer-top-area.subscribe-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-top-area .footer-middle-wrap {
  border-top: 1px dashed #ffffff;
  padding-top: 12px;
  margin-top: 0px;
}

.widget.footer-widget .social_share {
  list-style: none;
  padding: 0;
  margin: 0;
}

.widget.footer-widget .social_share li {
  display: inline-block;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding-left: 0;
  width: 28px;
  height: 28px;
  line-height: 30px;
  font-size: 16px;
  background: #fff;
  text-align: center;
  border-radius: 50%;
}
.footer-logo img {
    width: 18em;
}
.widget.footer-widget .social_share li:hover {
  background: var(--secondary-color);
}

.widget.footer-widget .social_share li:hover i {
  color: #fff;
}

.widget.footer-widget .social_share li + li {
  margin-left: 6px;
}

.widget.footer-widget .social_share li i {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 0px;
  padding: 0px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.widget.footer-widget .nav_menu li {
  color: #fff;
  font-size: 16px;
  position: relative;
}

.widget.footer-widget .nav_menu li a {
  font-size: 16px;
  line-height: 1.6;
  font-family: var(--body-font);
  font-weight: 400;
  color: #efefef;
  position: relative;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.widget.footer-widget .nav_menu li a::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  content: "\f13d";
  font-family: "flaticon";
  font-size: 11px;
  color: #fff;
  font-weight: 900;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.widget.footer-widget .nav_menu li a:hover {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  color: #fff;
  padding-left: 16px;
}

.widget.footer-widget .nav_menu li a:hover::before {
  opacity: 1;
  visibility: visible;
}

.widget-headline {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  text-transform: capitalize;
  position: relative;
  z-index: 0;
  margin-bottom: 20px;
  color: #fff;
}

.footer-widget.widget.widget_nav_menu ul li + li {
  margin-top: 2px;
}

.footer-widget.widget.widget_nav_menu ul li {
  margin: 0;
}

.footer-title::after {
  content: "";
  position: absolute;
  left: 18px;
  top: 22px;
  width: 100%;
  height: 50%;
  border-right: 1px dashed #fff;
}

.footer-widget.widget {
  position: relative;
}

.details .number {
  font-size: 24px;
  line-height: 1.6;
  font-weight: 700;
  color: #fff;
  margin-bottom: 4px;
}

.details small {
  font-size: 16px;
  line-height: 1.6;
  font-family: var(--body-font);
  font-weight: 400;
  color: #fff;
}

.contactbtn {
  border: 2px solid var(--theme-color);
  border-radius: 8px;
  padding: 3px 10px !important;
  font-size: 14px;
  margin-left: 15px;
}
/* -----Breadcrumb----- */

.aemi_breadcrumb {
  display: block;
  padding-top: 100px;
  padding-bottom: 85px;
  z-index: 11;
}

.aemi_breadcrumb {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumb_title .page-title-heading {
  position: relative;
}

.breadcrumb_title .page-title-heading h1 {
  text-transform: capitalize;
  font-size: 43px;
  line-height: 50px;
  margin-bottom: 10px;
  color: #fff;
}

.breadcrumb-wrapper a {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.text-theme {
  color: var(--secondary-color);
}

.countryinfo p {
  font-size: 17px;
}

.study_left h4 {
  color: var(--theme-color);
  padding: 10px 0;
}

.reply-area {
  padding: 22px;
  background: var(--theme-color);
}

.reply-area form label {
  /* font-size: 14px; */
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
}

.reply-area form input,
.reply-area form textarea,
.reply-area form select {
  border: 1px solid #e1e1e1;
  height: 42px;
  width: 100%;
  padding: 0 15px;
}
/* banner ad area */

.Kef_side_banner .Kef_side_box {
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 33px 30px 30px 30px;
  overflow: hidden;
}

.Kef_side_banner .Kef_side_box:before {
  position: absolute;
  content: "";
  background: #142b3c;
  width: calc(100% - 275px);
  height: 100%;
  top: 0px;
  right: 0px;
  opacity: 0.84;
}

.Kef_side_banner .Kef_side_box .bg-layer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 275px;
  height: 280px;
  left: 0px;
  top: 0px;
  opacity: 0.93;
}

.Kef_side_banner .Kef_side_box .bg-layer {
  background-color: var(--theme-color);
}

.Kef_side_banner .image-layer {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.Kef_side_banner .Kef_side_box .Kef_top {
  position: relative;
  max-width: 200px;
  margin-bottom: 87px;
  z-index: 1;
}

.Kef_side_box .Kef_top h6 {
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.Kef_side_banner .Kef_side_box .Kef_top h2 {
  position: relative;
  display: block;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 19px;
}

.Kef_side_banner .Kef_side_box .Kef_top ul {
  background: none;
  padding: 0px;
  border: 0px;
}

.sidebar-widget ul {
  position: relative;
  display: block;
  padding: 20px;
  background: #f7f5f5;
  border: 2px solid var(--theme-color);
}

.Kef_side_box .Kef_top .list li {
  padding: 0px 0px 0px 30px !important;
  background: none;
}

.Kef_side_box .Kef_top .list li {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-left: 30px;
  margin-bottom: 10px;
}

.Kef_side_box .Kef_top .list li:before {
  position: absolute;
  content: "\f10f";
  font-family: "flaticon";
  left: 0px;
  top: 0px;
  background: none;
  font-size: 18px;
  color: #fff;
}

.Kef_side_banner .Kef_side_box:after {
  position: absolute;
  content: "";
  background: #142b3c;
  width: 100%;
  height: calc(100% - 280px);
  bottom: 0px;
  left: 0px;
  opacity: 0.84;
}

.Kef_side_box .Kef_below .Kef_btn {
  background: #fff;
  width: 100%;
  z-index: 999;
  position: relative;
}

.Kef_btn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  font-size: 14px;
  line-height: 26px;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  text-align: center;
  padding: 14.5px 34px;
  border-radius: 0px;
  text-transform: uppercase;
  z-index: 1;
  transition: all 500ms ease;
}

.Kef_btn i {
  position: relative;
  margin-left: 6px;
  top: 3px;
  font-size: 16px;
}

.service-single-item {
  background: #eff2f5;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 25px;
}

.service-single-item i {
  font-size: 60px;
  color: var(--theme-color);
  margin-bottom: 20px;
}

.service-single-item h6 {
  font-size: 20px;
  margin-bottom: 15px;
}
/* gallery */

.imagegallery .card {
  background-color: #f0f4f9;
  border-radius: 0.8rem;
  padding: 15px;
  border: unset;
  max-height: 305px;
  margin-bottom: 15px;
}

.imagegallery .card img {
  border-radius: 0.8rem;
}

.imagegallery .card-text {
  opacity: 0.8;
  text-align: center;
  padding: 0.1rem 2rem;
  background-color: var(--theme-color);
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
}

.imagegallery h6 {
  height: 45px;
}

.imagegallery .gallery_inner .card {
  max-height: unset;
}

.gallery_inner img {
  height: 23em;
  width: 100%;
  margin-bottom: 2em;
  object-fit: cover;
}

.video_gallery .lightGallery .image-tile {
  position: relative;
}

.video_gallery .lightGallery .image-tile .demo-gallery-poster {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  margin: auto;
}

.video_gallery .lightGallery .image-tile .demo-gallery-poster img {
  display: block;
  margin: auto;
  width: 20%;
  /* max-width: 60px; */
  align-items: center;
  /* min-width: 20px; */
  /* margin-top: 80px; */
  height: 20%;
  object-fit: contain;
  background: #fff;
  border-radius: 100%;
}

.video_gallery a {
  margin-bottom: 1em;
}

.color-purple {
  background: var(--theme-color);
}

.height_manage {
  height: 100% !important;
}

.height_190 {
  min-height: 190px;
}

.bg_one {
  background-color: #f26f21;
}

.bg_two {
  background-color: #dbca7f;
}

.bg_three {
  background-color: #ee5ba0;
}

.bg_four {
  background-color: #00b6cd;
}

.bg_five {
  background-color: #005aa9;
}

.bg_six {
  background-color: #f6921e;
}

.p_a10 {
  padding: 10px;
}

.font_55 {
  font-size: 55px;
}

.m_b10 {
  margin-bottom: 15px;
}

.white {
  color: white;
}

.font_weight900 {
  font-weight: 900;
}

.font_21 {
  font-size: 21px;
}

.card.c1 {
  height: 100%;
  margin-bottom: 1em;
}

.c1 {
  border-top: 7px solid var(--theme-color);
  border-radius: 15px;
}
/* timeline milestone */
/* Milestone timeline */

.timeline {
  position: relative;
  width: 100%;
  padding: 30px 0;
}

.timeline .timeline-container {
  position: relative;
  width: 100%;
}

.timeline .timeline-end,
.timeline .timeline-start,
.timeline .timeline-year {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.timeline .timeline-end p,
.timeline .timeline-start p,
.timeline .timeline-year p {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 30px 0;
  text-align: center;
  background: linear-gradient(#6c7b84, #812990);
  border-radius: 100px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}

.timeline .timeline-year {
  margin: 30px 0;
}

.timeline .timeline-continue {
  position: relative;
  width: 100%;
  padding: 60px 0;
}

.timeline .timeline-continue::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -1px;
  background: #7d398d;
}

.timeline .row.timeline-left,
.timeline .row.timeline-right .timeline-date {
  text-align: right;
}

.timeline .row.timeline-right,
.timeline .row.timeline-left .timeline-date {
  text-align: left;
}

.timeline .timeline-date {
  font-size: 14px;
  font-weight: 600;
  margin: 41px 0 0 0;
}

.timeline .timeline-box,
.timeline .timeline-launch {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 20px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  background: #ffffff;
}

.timeline .timeline-launch {
  width: 100%;
  margin: 15px 0;
  padding: 0;
  border: none;
  text-align: center;
  background: transparent;
}

.timeline .timeline-box::after,
.timeline .timeline-box::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline .row.timeline-left .timeline-box::after,
.timeline .row.timeline-left .timeline-box::before {
  left: 100%;
}

.timeline .row.timeline-right .timeline-box::after,
.timeline .row.timeline-right .timeline-box::before {
  right: 100%;
}

.timeline .timeline-launch .timeline-box::after,
.timeline .timeline-launch .timeline-box::before {
  left: 50%;
  margin-left: -10px;
}

.timeline .timeline-box::after {
  top: 26px;
  border-color: transparent transparent transparent #ffffff;
  border-width: 10px;
}

.timeline .timeline-box::before {
  top: 25px;
  border-color: transparent transparent transparent #dddddd;
  border-width: 11px;
}

.timeline .row.timeline-right .timeline-box::after {
  border-color: transparent #ffffff transparent transparent;
}

.timeline .row.timeline-right .timeline-box::before {
  border-color: transparent #dddddd transparent transparent;
}

.timeline .timeline-launch .timeline-box::after {
  top: -20px;
  border-color: transparent transparent #dddddd transparent;
}

.timeline .timeline-launch .timeline-box::before {
  top: -19px;
  border-color: transparent transparent #ffffff transparent;
  border-width: 10px;
  z-index: 1;
}

.timeline .timeline-box .timeline-icon {
  position: relative;
  width: 40px;
  height: auto;
  float: left;
}

.timeline .timeline-icon i {
  font-size: 25px;
  color: #7f358f;
}

.timeline .timeline-box .timeline-text {
  position: relative;
  width: calc(100% - 40px);
  float: left;
}

.timeline .timeline-launch .timeline-text {
  width: 100%;
}

.timeline .timeline-text h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3px;
}

.timeline .timeline-text p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .timeline .timeline-continue::after {
    left: 40px;
  }
  .timeline .timeline-end,
  .timeline .timeline-start,
  .timeline .timeline-year,
  .timeline .row.timeline-left,
  .timeline .row.timeline-right .timeline-date,
  .timeline .row.timeline-right,
  .timeline .row.timeline-left .timeline-date,
  .timeline .timeline-launch {
    text-align: left;
  }
  .timeline .row.timeline-left .timeline-date::after,
  .timeline .row.timeline-right .timeline-date::after {
    left: 47px;
  }
  .timeline .timeline-box,
  .timeline .row.timeline-right .timeline-date,
  .timeline .row.timeline-left .timeline-date {
    margin-left: 55px;
  }
  .timeline .timeline-launch .timeline-box {
    margin-left: 0;
  }
  .timeline .row.timeline-left .timeline-box::after {
    left: -20px;
    border-color: transparent #ffffff transparent transparent;
  }
  .timeline .row.timeline-left .timeline-box::before {
    left: -22px;
    border-color: transparent #dddddd transparent transparent;
  }
  .timeline .timeline-launch .timeline-box::after,
  .timeline .timeline-launch .timeline-box::before {
    left: 30px;
    margin-left: 0;
  }
}
/* message */

.mymessage_image {
  position: relative;
  z-index: 5;
  max-width: 342px;
  width: 100%;
}

.mymessage_image::before {
  position: absolute;
  content: "";
  background-color: var(--secondary-color);
  width: 80%;
  height: 70%;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.mymessage_image::after {
  position: absolute;
  content: "";
  background-color: var(--theme-color);
  width: 80%;
  height: 70%;
  bottom: 60px;
  right: 0;
  z-index: -1;
}

.mymessage_image img {
  width: 100%;
  object-fit: contain;
}

.message_para p {
  color: #000;
  font-size: 15px;
}
/* Contact Us */

.mycontact_info {
  /* float: left; */
  margin: 0;
  padding: 0 0 0 50px;
  clear: both;
  width: 100%;
  line-height: 30px;
  position: relative;
}

.mycontact_info span {
  float: left;
  margin: 3px 10px 0 0;
  font-size: 30px;
  width: 30px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
}

.mycontact_info.a1 h6 {
  margin-bottom: 5px;
}

.line_separator {
  border-top: 1px dashed;
  clear: both;
  display: block;
  float: left;
  margin: 20px 0;
  width: 100%;
}

.contact1 {
  padding: 15px;
  background: #f0f4f9;
}

.contact_page .search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.contact_page .search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.contact_page .search input:focus {
  box-shadow: none;
  border: 2px solid var(--theme-color);
}

.contact_page .search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.contact_page .search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: var(--theme-color);
  border: 2px solid var(--theme-color);
}

.inst_img .brands_item img {
  max-width: 100%;
  height: 14em;
  transition: 0.2s;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.inst_img .brands_item img:hover {
  transform: scale(0.9, 0.9);
  transition: 0.2s;
}

.countryinfo1 img {
  object-fit: cover;
  height: 100%;
}

.reply-area a.slider-btn {
  background: #fff;
  padding: 10px;
  margin-top: 10px !important;
}

.reply-area .button {
  margin-top: 10px !important;
}

.prof_list li:before {
  font-family: "Font Awesome 5 Free";
	


  font-weight: 900;
  content: "\f00c";
  margin-right: 5px;
}

ul.prof_list li {
  display: flex;
}

.college_logo {
  background-color: white;
  width: 265px;
  height: 190px;
  padding: 5px;
  border: 1px solid #6b7b83;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.college_logo img {
  vertical-align: middle;
  width: 15em;
}

.unidetails li {
  margin-bottom: 15px;
}

.unibg {
  background: #cccccc6e;
  padding: 14px;
}

.pyreq li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0da";
  margin-right: 5px;
}
/* blogs */
/* My blog */

.blog_wrap .blog_single {
  margin-bottom: 60px;
  box-shadow: 0px 0px 81px 0px rgb(47 47 47 / 10%);
}

.blog_wrap .blog_single .blog_image {
  overflow: hidden;
}

.blog_wrap .blog_single .blog_image img {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.blog_wrap .blog_single .blog_content {
  padding: 40px;
}

.blog_wrap .blog_single .blog_content .blog_date p {
  color: var(--postcolor);
  font-size: 13px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  margin: 0 0 15px;
  line-height: 15px;
}

.blog_wrap .blog_single .blog_content p {
  margin: 20px 0 25px;
}

.blog_wrap .blog_single .blog_content .blog_date p span {
  color: var(--optionalColor);
}

.blog_wrap .blog_single .blog_content h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 24px;
}

.blog_wrap .blog_single .blog_content h3 a {
  transition: all 0.3s ease-in-out;
  color: var(--optionalColor);
}

.blog_wrap .blog_single .blog_content .blog_user {
  padding-bottom: 40px;
}

.blog_wrap .blog_single .blog_content .post_bloger {
  padding: 30px 0 0px;
  border-top: 1px solid #ebebeb;
  display: flex;
  flex-wrap: wrap;
}

.blog_wrap .blog_single .blog_content .post_bloger li {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  color: var(--postcolor);
  transition: all 0.3s ease-in-out;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  padding-right: 50px;
}

.blog_wrap .blog_single .blog_content .post_bloger li i {
  padding-right: 7px;
  font-size: 15px;
}

.blog_wrap .blog_single .blog_content .blog_user a {
  color: var(--optionalColor);
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 30px;
}

.blog_social .social-items li a i {
  padding: 0;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 29px;
  border-radius: 50%;
  font-size: 15px;
  margin: 0;
  background: transparent;
  transition: all 0.3s ease-in-out;
}

.blog_right .widget_single {
  margin-bottom: 55px;
}

.archives .items-title {
  margin-bottom: 20px;
}

.blog_right .items-title .title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
  position: relative;
  padding-left: 80px;
}

.blog_right .items-title .title:before {
  position: absolute;
  content: "";
  background: var(--optionalColor);
  height: 3px;
  width: 50px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.archives .archives-items {
  margin-left: 50px;
}

.archives .archives-items ul li {
  padding-bottom: 12px;
}

.archives .archives-items ul li a {
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  margin-right: 30px;
  color: var(--optionalColor);
}

.archives .archives-items ul li a:after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-size: 10px;
  content: "\f101";
  left: -20px;
  bottom: -0px;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
}

.tags-items ul li {
  display: inline-flex;
  padding-right: 6px;
  padding-bottom: 10px;
}

.popular_tags .tags-items ul li a {
  padding: 9px 25px;
  font-size: 13px;
  background: #eef2f5;
  transition: all 0.3s ease-in-out;
  color: var(--postcolor);
  font-weight: 500;
  border-radius: 0px;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
}

.popular_tags .tags-items ul li a:hover {
  background: var(--theme-color);
  color: #fff;
}

.blog_wrap .blog_single:hover {
  transition: all 0.3s ease-in-out;
}

.blog_wrap .blog_single:hover .blog_image img {
  transform: scale(1.05);
}

.blog_wrap .blog_single:hover .blog_content h3 a {
  color: var(--theme-color);
}

.new_post .single_post {
  border-radius: 0px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  margin-bottom: 40px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 40px;
}

.new_post .recent_img {
  width: 25%;
}

.new_post .single-post .post_title {
  width: 75%;
  padding-left: 15px;
}

.new_post .single-post .post_title a {
  font-weight: 700;
  line-height: 24px;
  color: var(--optionalColor);
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.new_post .single-post {
  border-bottom: 1px solid #eee;
  /* padding: 2em 0; */
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.quote-wrapper {
  background: rgba(130, 139, 178, 0.1);
  padding: 15px;
  line-height: 1.733;
  color: #888;
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 25px;
}

.blog_details .quotes {
  background: #f5f5f5;
  padding: 15px 15px 15px 20px;
  border-left: 2px solid;
  margin-bottom: 15px;
}

.eapps-widget-toolbar {
  display: none !important;
}
/* popup */
/* sidebar fix popup */

.sidebar-contact {
  position: fixed;
  top: 50%;
  right: -357px;
  transform: translateY(-50%);
  width: 350px;
  height: auto;
  /* padding: 40px; */
  background: #fff;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 99;
}

.sidebar-contact.active {
  right: 0;
}

.sidebar-contact input,
.sidebar-contact textarea {
  width: 100%;
  height: 36px;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
}

.sidebar-contact h2 {
  margin: 0 0 20px;
  padding: 0;
}

.sidebar-contact textarea {
  height: 60px;
  resize: none;
}

.sidebar-contact .toggle {
  position: absolute;
  height: 48px;
  /* width: 48px; */
  text-align: center;
  cursor: pointer;
  background: var(--theme-color);
  /* top: 148px; */
  left: -128px;
  line-height: 32px;
  z-index: 9;
  padding: 0 10px;
  border-radius: 5px;
  color: #fff;
}

.sidebar-contact .toggle:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f2a0";
  margin-right: 5px;
  font-size: 19px;
}

.sidebar-contact .toggle.active:before {
  content: "\f00d";
}

.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.sidebar-contact ::-webkit-scrollbar {
  width: 4px;
  /* width of the entire scrollbar */
}

.sidebar-contact ::-webkit-scrollbar-track {
  background: var(--secondary-color);
  /* color of the tracking area */
}

.sidebar-contact::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}

.sidepop .offcanvas-header {
  background: var(--secondary-color);
  color: #fff;
}

.bg-theme1 {
  background: var(--theme-color);
}

.visitus {
  color: #fff;
  margin-top: 10px;
}

.visitus img {
  width: 31px;
}

.book_contact {
  background-size: contain !important;
  background-position: 53% !important;
}

.w-40 {
  width: 40%;
}

.newmodal {
  z-index: 99999;
}

@media (max-width: 767px) {
  .book_contact {
    background: #812990 !important;
  }
  .w-40 {
    width: 100%;
    padding: 15px;
  }
  #header .logo img {
    max-height: 42px;
  }
  .mainnav .navbar a {
    margin-top: 0;
  }
    .p_lr60 {
    padding-left: 8px;
    padding-right: 9px;
}
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .quotes {
    padding: 25px 25px 25px 30px;
  }

}

@media (max-width: 767px) {
  .rev_slider_wrapper,
  .rev_slider {
    height: 16em !important;
    box-shadow: unset;
  }
  .contactbtn {
    border: 2px solid var(--theme-color);
    border-radius: 8px;
    padding: 1px 3px !important;
    font-size: 14px;
    margin-top:0;
    margin-right: 15px;
    margin-left: 0;
  }
  #header {
    padding: 5px 0px;
  }
  .w-md-100 {
    width: 100% !important;
  }
  .p-60 {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
  }
  .footer-area .footer-title {
    font-size: 26px;
  }
  footer.footer-area {
    text-align: center;
  }
}

.enqbtn {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
  cursor: pointer;
}

@-webkit-keyframes glowing {
  0% {
    background-color: #80298f;
    -webkit-box-shadow: 0 0 3px #80298f;
  }
  50% {
    background-color: #f36e21;
    -webkit-box-shadow: 0 0 40px #f36e21;
  }
  100% {
    background-color: #80298f;
    -webkit-box-shadow: 0 0 3px #80298f;
  }
}

@-moz-keyframes glowing {
  0% {
    background-color: #80298f;
    -moz-box-shadow: 0 0 3px #80298f;
  }
  50% {
    background-color: #f36e21;
    -moz-box-shadow: 0 0 40px #f36e21;
  }
  100% {
    background-color: #80298f;
    -moz-box-shadow: 0 0 3px #80298f;
  }
}

@-o-keyframes glowing {
  0% {
    background-color: #80298f;
    box-shadow: 0 0 3px #80298f;
  }
  50% {
    background-color: #f36e21;
    box-shadow: 0 0 40px #f36e21;
  }
  100% {
    background-color: #80298f;
    box-shadow: 0 0 3px #80298f;
  }
}

@keyframes glowing {
  0% {
    background-color: #80298f;
    box-shadow: 0 0 3px #80298f;
  }
  50% {
    background-color: #f36e21;
    box-shadow: 0 0 40px #f36e21;
  }
  100% {
    background-color: #80298f;
    box-shadow: 0 0 3px #80298f;
  }
}

h4.cof {
  width: fit-content;
  font-size: 18px;
  color: var();
  background: var(--theme-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  padding: 5px;
  color: #fff;
  font-weight: 600;
}

.ouroffices h5:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f3c5";
  margin-right: 5px;
}

.ouroffices h5 {
  margin-top: 18px;
  color: var(--theme-color);
  border: 1px solid var(--secondary-color);
  padding: 5px;
  border-radius: 10px;
  font-size: 16px;
}
.contact-item p {
  font-weight: 500;
  margin-bottom: 0;
}
.contact-item {
  margin-top: 15px;
  margin-bottom: 15px;
}

/*  added by  Bikash Rai start */

.dest_para {
  color: #fff;
}

.choosepara {
  color: #fff !important;
  justify-content: center;
}
.card-text-online {
  color: #fff;
}
.about_us_widget {
  color: #fff;
}
.test_prepration {
  margin-top: -5rem;
  margin-bottom: -10rem;
}

.alert {
  margin: -px 0 12px 0;
  padding: 10px;
  border-radius: 5px;
  color: rgb(241, 131, 131);
  background: white;
  border: 1px solid white;
}
.alert .success {
  color: green;
  background-color: white;
  border: 1px solid white;
}
.alert .error {
  color: rgb(224, 79, 93);
  background-color: rgb(232, 174, 174);
  border: 1px solid white;
}
.sbox {
  padding-top: 24px;
}
#req {
  color: red;
}

/*  added by  Bikash Rai end */

.study_left p {
    font-size: 17px;
}

p {
    font-size: 17px;
}
.wpcf7-response-output {
    color: black !important;
}
